# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

Screenshots/iNotebook_Added_Note.png
Screenshots/iNotebook_Details.png
Screenshots/iNotebook_Details1.png
Screenshots/iNotebook_Home_empty.png
Screenshots/iNotebook_Home_empty1.png
Screenshots/iNotebook_Login.png
Screenshots/iNotebook_Login1.png
Screenshots/iNotebook_Signup.png
Screenshots/iNotebook_Updating_Note.png
