body{
  color:white;
  height: 100em;
  background:conic-gradient(at left bottom, rgb(17, 24, 39), rgb(88, 28, 135), rgb(124, 58, 237));
}

.smalltext{
  color:rgb(146, 162, 162)
}

.icons{
  height: 20px;
  margin-right: 0px;
}
.icon{
  cursor: pointer;
  height: 20px;
  margin-left: 5px;
}

.modal{
  color: black;
}

#logindiv{
  backdrop-filter: invert(10%);
  height: 370px;
  border: 2px solid white;
  border-radius: 10px;
}

#signupdiv{
  backdrop-filter: invert(10%);
  height: 550px;
  border: 2px solid white;
  border-radius: 10px;
}