body{
  color:white;
  /* background: linear-gradient(45deg,rgb(36, 0, 80), rgb(0, 49, 66), rgb(0, 0, 0));  */
  height: 100vh;
  background:conic-gradient(at left bottom, rgb(17, 24, 39), rgb(88, 28, 135), rgb(124, 58, 237));
}

.smalltext{
  color:rgb(146, 162, 162)
}

.icons{
  height: 20px;
  margin-right: 0px;
}
.icon{
  cursor: pointer;
  height: 20px;
  margin-left: 5px;
}

.modal{
  color: black;
}